.heading {
    text-align: center;
}

.post-image {
    width: 45vw;
    margin-top:  5px;
    margin-left: 1.5vw;
    
 
}

.image-button{
   
    margin-top:  5px;
    margin-left: 1.5vw;
}


.make-post{
    background-color: white;
    border: 1px solid;
    border-color: rgb(160, 160, 160);
    border-radius: 15px;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px #747474;
    
}